    <% @posts.each do |post| %>
          <div class="row">
            <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]"/></div>
            <div class="large-10 columns">
              <p><strong><%= post.title %></strong><%= post.description %></p>
              <ul class="inline-list">
                <li><%= link_to 'Edit', edit_post_path(post) %></li>
                <li><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></li>
                <li><a href="">Reply</a></li>
                <li><a href="">Share</a></li>
              </ul>
            </div>
          </div>
           
     
          <hr/>

    <% end %>

<br>

<%= link_to 'New Post', new_post_path %>
